@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;500;600&family=Poppins:wght@400;600;800&display=swap');

*{
    scroll-behavior: smooth;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    list-style: none;
}
body{
    background: var(--first-color);
    overflow-x: hidden;
}
/* ====================== VARIABLES ======= */

:root{
    --first-color: #0B0624;
    --purple-color: #201652;
    --blue-color: #001F56;
    --dark-color: #050311;
    --logo-span-color: #4bb3f9;
    --white: #fff;
    --p-color: rgb(229, 229, 229);
    --glass-color: rgba(225,225,225,0.1);

    --normal-weight: 400;
    --medium-weight: 600;
    --bold-weight: 800;

    --smaller-font-size: 13.9px;
    --small-font-size: 15px;
    --big-font-size: 30px;
    --bigger-font-size: 63px;

    --small-radius: 8px;
    --radius: 50px;
    --l-space: 0.5px;
    --transition: 0.4s;
}

/* ====================== RE-USABLE ======= */
/* .btn{
    display: inline-block;
    font-size: var(--small-font-size);
    padding: 8px 24px;
    border: 1px solid var(--white);
    color: var(--first-color);
    text-transform: uppercase;
    font-weight: var(--medium-weight);
    margin-left: 25px;
    border-radius: var(--radius);
    -webkit-border-radius: var(--radius);
    -moz-border-radius: var(--radius);
    -ms-border-radius: var(--radius);
    -o-border-radius: var(--radius);
    background: var(--white);
    letter-spacing: var(--l-space);

} */
.btn{
    display: inline-block;
    font-size: var(--small-font-size);
    padding: 8px 24px;
    color: var(--white);
    text-transform: uppercase;
    border: 1px solid transparent;
    font-weight: var(--medium-weight);
    margin-left: 25px;
    border-radius: var(--radius);
    -webkit-border-radius: var(--radius);
    -moz-border-radius: var(--radius);
    -ms-border-radius: var(--radius);
    -o-border-radius: var(--radius);
    background: var(--glass-color);
    letter-spacing: var(--l-space);
    backdrop-filter: blur(36px);
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}
.btn:hover{
    border: 1px solid rgba(225,225,225,0.1);
}

.container{
    width: 80%;
    margin: 0 auto;
}
.flex{
    display: flex
}
section{
    padding: 100px 0;
}

/* ====================== HEADER ======= */
header{
    width: 80vw;
    padding: 20px 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    z-index: 10;
}
.logo{
    margin-right: auto;
    color: var(--white);
    font-size: 25px;
    font-weight: var(--medium-weight);
}
.logo span{
    color: var(--logo-span-color);
    font-weight: var(--normal-weight);
}
.nav_bar ul{
    display: flex;
    column-gap: 20px;
}
.nav_bar ul li a{
    text-transform: uppercase;
    font-size: var(--smaller-font-size);
    font-weight: var(--normal-weight);
    color: var(--white);
    letter-spacing: var(--l-space);
}
#open_menu{
    font-size: 24px;
    color: var(--white);
    margin-left: 20px;
    display: none;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}
/* ====================== HOME ======= */
.home{
    width: 100vw;
    height: 100vh;
    background: url(../images/home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
}
.home::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: linear-gradient(to top, var(--first-color), transparent);
}
.home_text{
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.home_title{
    font-size: var(--bigger-font-size);
    font-weight: var(--medium-weight);
    color: var(--white);
    text-shadow: 0 -5px 10px rgba(0,0,0,0.5);
    line-height: 65px;
    margin-bottom: 30px;
}
.home_description{
    color: #fff;
    max-width: 600px;
}
.home_btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 90px;
    text-transform: uppercase;
    text-align: center;
    color: var(--white);
    margin-top: 25px;
    padding: 10px;
    line-height: 15px;
    border: 1px solid var(--white);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: relative;
}
.home_btn span{
    animation: animate 1s linear infinite;
    -webkit-animation: animate 1s linear infinite;
    position: absolute;
    bottom: 20px;
}
/* ====================== HOME BTN ANIMATION ======= */
@keyframes animate {
    0%,100%{
        transform: translateX(-5px);
        -webkit-transform: translateX(-5px);
        -moz-transform: translateX(-5px);
        -ms-transform: translateX(-5px);
        -o-transform: translateX(-5px);
}
    50%{
        transform: translateX(0px);
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -o-transform: translateX(0px);
    }
}
.home_travel{
    position: absolute;
    bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.travel_data{
    width: 200px;
    height: auto;
    background: var(--glass-color);
    backdrop-filter: blur(56px);
    padding: 10px 24px;
    border-radius: var(--small-radius);
    -webkit-border-radius: var(--small-radius);
    -moz-border-radius: var(--small-radius);
    -ms-border-radius: var(--small-radius);
    -o-border-radius: var(--small-radius);
    margin: 25px;
}
.travel_data_icon{
    font-size: 20px;
    color: var(--logo-span-color);
}
.travel_data h4{
    color: var(--white);
    text-transform: capitalize;
    letter-spacing: var(--l-space);
    font-weight: var(--medium-weight);
    margin-bottom: 5px;
}
.travel_data p{
    color: rgb(229, 229, 229);
    font-size: var(--small-font-size);
}
/* ====================== POPULAR ======= */
.popular_card{
    width: 200px;
    height: 300px;
    border-radius: var(--small-radius);
    -webkit-border-radius: var(--small-radius);
    -moz-border-radius: var(--small-radius);
    -ms-border-radius: var(--small-radius);
    -o-border-radius: var(--small-radius);
    position: relative;
    overflow: hidden;
}
.popular_card .imgbx{
    width: 100%;
    height: 100%;
    overflow: hidden;

}
.popular_card .imgbx img{
    width: 120%;
    height: 100%;
    object-fit: cover;
}



/* ====================== ABOUT ======= */




/* ====================== REGISTER ======= */




/* ====================== FOOTER ======= */




/* ====================== MEDIA QUERY ======= */
