@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;500;600&family=Poppins:wght@400;600;800&display=swap');

*{
    scroll-behavior: smooth;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    list-style: none;
}
body{
    background: var(--first-color);
    overflow-x: hidden;
}
::selection{
    background: var(--purple-color);
    color: var(--white);
}
/* ====================== VARIABLES ======= */

:root{
    --first-color: #0B0624;
    --purple-color: #64009a;
    --blue-color: #00067a;
    --dark-color: #050311;
    --logo-span-color: #4bb3f9;
    --white: #fff;
    --p-color: rgb(229, 229, 229);
    --glass-color: rgba(225,225,225,0.1);

    --normal-weight: 400;
    --medium-weight: 600;
    --bold-weight: 800;

    --smaller-font-size: 13.9px;
    --small-font-size: 15px;
    --big-font-size: 30px;
    --bigger-font-size: 63px;

    --small-radius: 8px;
    --radius: 50px;
    --l-space: 0.5px;
    --transition: 0.4s;
}

/* ====================== RE-USABLE ======= */
.btn{
    display: inline-block;
    font-size: var(--small-font-size);
    padding: 8px 24px;
    color: var(--white);
    text-transform: uppercase;
    border: 1px solid transparent;
    font-weight: var(--medium-weight);
    margin-left: 25px;
    border-radius: var(--radius);
    -webkit-border-radius: var(--radius);
    -moz-border-radius: var(--radius);
    -ms-border-radius: var(--radius);
    -o-border-radius: var(--radius);
    background: var(--glass-color);
    letter-spacing: var(--l-space);
    backdrop-filter: blur(36px);
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}
.btn:hover{
    border: 1px solid rgba(225,225,225,0.1);
}

.container{
    width: 80%;
    margin: 0 auto;
}
.flex{
    display: flex
}
section{
    padding: 100px 0;
}

/* ====================== HEADER ======= */
header{
    width: 80vw;
    padding: 20px 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    z-index: 10;
}
.logo{
    margin-right: auto;
    color: var(--white);
    font-size: 25px;
    font-weight: var(--medium-weight);
}
.logo span{
    color: var(--logo-span-color);
    font-weight: var(--normal-weight);
}
.nav_bar ul{
    display: flex;
    column-gap: 20px;
}
.nav_bar ul li a{
    text-transform: uppercase;
    font-size: var(--smaller-font-size);
    font-weight: var(--normal-weight);
    color: var(--white);
    letter-spacing: var(--l-space);
}
#open_menu{
    font-size: 24px;
    color: var(--white);
    margin-left: 20px;
    display: none;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}
/* ====================== HOME ======= */
.home{
    width: 100vw;
    min-height: 100vh;
    background: url(../images/home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    
}
.home::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: linear-gradient(to top, var(--first-color), transparent);
}
.home_text{
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.home_title{
    font-size: var(--bigger-font-size);
    font-weight: var(--medium-weight);
    color: var(--white);
    text-shadow: 0 -5px 10px rgba(0,0,0,0.5);
    line-height: 65px;
    margin-bottom: 30px;
}
.home_description{
    color: #fff;
    max-width: 600px;
}
.home_btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 90px;
    text-transform: uppercase;
    text-align: center;
    color: var(--white);
    margin-top: 25px;
    padding: 10px;
    line-height: 15px;
    border: 1px solid var(--white);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: relative;
}
.home_btn span{
    animation: animate 1s linear infinite;
    -webkit-animation: animate 1s ease-in-out infinite ;
    position: absolute;
    bottom: 20px;
}
/* ====================== HOME BTN ANIMATION ======= */
@keyframes animate {
    0%,100%{
        transform: translateX(-5px);
        -webkit-transform: translateX(-5px);
        -moz-transform: translateX(-5px);
        -ms-transform: translateX(-5px);
        -o-transform: translateX(-5px);
}
    50%{
        transform: translateX(0px);
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -o-transform: translateX(0px);
    }
}
.home_travel{
    position: absolute;
    bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.travel_data{
    width: 200px;
    height: auto;
    background: var(--glass-color);
    backdrop-filter: blur(56px);
    padding: 10px 24px;
    border-radius: var(--small-radius);
    -webkit-border-radius: var(--small-radius);
    -moz-border-radius: var(--small-radius);
    -ms-border-radius: var(--small-radius);
    -o-border-radius: var(--small-radius);
    margin: 25px;
    box-shadow: 
    inset 8px 8px 12px rgba(225,225,225,0.1), inset -8px -8px 12px rgba(225,225,225,0.1);
}
.travel_data_icon{
    font-size: 20px;
    color: var(--logo-span-color);
}
.travel_data h4{
    color: var(--white);
    text-transform: capitalize;
    letter-spacing: var(--l-space);
    font-weight: var(--medium-weight);
    margin-bottom: 5px;
}
.travel_data p{
    color: rgb(229, 229, 229);
    font-size: var(--small-font-size);
}
/* ====================== POPULAR ======= */
.popular_title{
    justify-content: space-between;
    margin-bottom: 60px;
}
.popular_title h2{
    color: var(--white);
    font-size: var(--big-font-size);
    font-weight: var(--medium-weight);
    text-transform: capitalize;
    line-height: 30px;
    position: relative;
}
.popular_title h2::after{
    content: '';
    position: absolute;
    top: -10px;
    left: 0;
    width: 100px;
    height: 3px;
    border-radius: 50px;
    background: linear-gradient(to left,var(--purple-color), transparent);
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.popular_title h2 span{
    text-transform: uppercase;
    font-size: var(--small-font-size);
    letter-spacing: 3px;
    color: #888;
}
.popular_title p{
    color: #888;
    font-size: var(--small-font-size);
    max-width: 500px;
}
.popular_card{
    width: 200px;
    height: 300px;
    border-radius: var(--small-radius);
    -webkit-border-radius: var(--small-radius);
    -moz-border-radius: var(--small-radius);
    -ms-border-radius: var(--small-radius);
    -o-border-radius: var(--small-radius);
    position: relative;
    cursor: grab;
    overflow: hidden;
}
.popular_card .imgbx{
    width: 100%;
    height: 100%;
    overflow: hidden;

}
.popular_card .imgbx img{
    width: 120%;
    height: 100%;
    object-fit: cover;
}
.popular_info{
    position: absolute;
    width: 100%;
    padding: 25px 0 5px 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    text-align: center;
    background: linear-gradient(to top, var(--first-color), transparent);
}
.popular_info h4{
    color: var(--white);
    font-weight: 300;
    font-size: var(--smaller-font-size);
    letter-spacing: var(--l-space);
    text-transform: uppercase;
}
.swiper-pagination-bullet{
    background: var(--p-color) ;
}
.swiper-pagination-bullet-active{
    background: var(--logo-span-color) ;
}
.footer{
    position: relative;
    width: 100vw;
    height: 50vh;
    overflow: hidden;
    background: linear-gradient(to top, transparent,var(--dark-color));
}

/* ====================== ABOUT ======= */




/* ====================== REGISTER ======= */




/* ====================== FOOTER ======= */




/* ====================== MEDIA QUERY ======= */
@media (max-width: 790px){
    :root{    
        --big-font-size: 23px;
        --bigger-font-size: 50px;
    }

    
    #open_menu{
        display: block;
        z-index: 1000;
    }
    .nav_bar{
        z-index: 1000;
        position: absolute;
        top: 0;
        display: none;
        right: -160%;
        background: linear-gradient(45deg, var(--dark-color) 40%,var(--first-color) 100%);
        width: 250px;
        height: 100vh;
        background-size: cover;
        border-bottom-left-radius: 50%;
        border-top-left-radius: 30%;
        transition: var(--transition);
        -webkit-transition: var(--transition);
        -moz-transition: var(--transition);
        -ms-transition: var(--transition);
        -o-transition: var(--transition);
    }
    .home_btn{
        margin-bottom: 70px;
    }
    .nav_bar ul{
        flex-direction: column;
        row-gap: 30px;
        padding-top: 150px;
        padding-right: 53px;
        align-items: flex-end;
        text-align: left;
    }
    .nav_bar ul li a{
        font-size: 17px;
    }

    .home_travel{
        /* display: none; */
        flex-direction: ;
    }    
    .travel_data{
        width: 150px;
        margin: 10px;
    }
    .travel_data_icon{
        font-size: 20px;
        color: var(--logo-span-color);
    }
    .travel_data h4{
        font-size: 15px;
    }
    .travel_data p{
        font-size: var(--smaller-font-size);
    }

    .popular_title p{
        font-size: var(--smaller-font-size);
        max-width: 300px;
    }





}





/* ====================== MEDIA QUERY ======= */
@media (max-width: 780px){
    .popular_title{
        flex-direction: column;
        row-gap: 20px;
    }


}